<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>


  <servlet>
    <servlet-name>FindPriceAndPrint</servlet-name>
    <servlet-class>byaz.store.FindPriceAndPrint</servlet-class>
  </servlet>
  

  <servlet>
    <servlet-name>FindLaptopWithMinimumSpecs</servlet-name>
    <servlet-class>byaz.store.FindLaptopWithMinimumSpecs</servlet-class>
  </servlet>


  <servlet>
    <servlet-name>DisplaySpecsByManufacturer</servlet-name>
    <servlet-class>byaz.store.DisplaySpecsByManufacturer</servlet-class>
  </servlet>
  

  <servlet>
    <servlet-name>FindPCAndPrinterByBudget</servlet-name>
    <servlet-class>byaz.store.FindPCAndPrinterByBudget</servlet-class>
  </servlet>


  <servlet>
    <servlet-name>InsertSpecsIntoDatabase</servlet-name>
    <servlet-class>byaz.store.InsertSpecsIntoDatabase</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FindPriceAndPrint</servlet-name>
    <url-pattern>/FindPriceAndPrint</url-pattern>
  </servlet-mapping>  

  <servlet-mapping>
    <servlet-name>FindLaptopWithMinimumSpecs</servlet-name>
    <url-pattern>/FindLaptopWithMinimumSpecs</url-pattern>
  </servlet-mapping>  

  <servlet-mapping>
    <servlet-name>DisplaySpecsByManufacturer</servlet-name>
    <url-pattern>/DisplaySpecsByManufacturer</url-pattern>
  </servlet-mapping>  

  <servlet-mapping>
    <servlet-name>FindPCAndPrinterByBudget</servlet-name>
    <url-pattern>/FindPCAndPrinterByBudget</url-pattern>
  </servlet-mapping>  

  <servlet-mapping>
    <servlet-name>InsertSpecsIntoDatabase</servlet-name>
    <url-pattern>/InsertSpecsIntoDatabase</url-pattern>
  </servlet-mapping>  

</web-app>
