/*
 * CS 133: Problem set 5 - style.css
 * 
 * Author: Bruce Yan, Angela Zhou
 * E-mail: byan@hmc.edu, azhou@hmc.edu
 * 
 * Makes the default style look better
 * 
 */


body {
	font: 12pt/1.4em Arial, Helvetica, sans-serif;
	color: #444444;
}

table, th, td {
	border: 1px solid #cccccc;
	border-collapse: collapse;
}

table.booklistings {
	width: 600px; 
	text-align: center;
}
